@font-face {
  font-family: "iconfont"; /* Project id 4835192 */
  src: url('iconfont.woff2?t=1740157923380') format('woff2'),
       url('iconfont.woff?t=1740157923380') format('woff'),
       url('iconfont.ttf?t=1740157923380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-copy:before {
  content: "\e602";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-shijian:before {
  content: "\e665";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-mima:before {
  content: "\e728";
}

.icon-dianhua:before {
  content: "\e640";
}

.icon-jianshaojianqujianhao:before {
  content: "\e62a";
}

.icon-weitongguo:before {
  content: "\e612";
}

.icon-wanchengtongguo:before {
  content: "\e619";
}

.icon-zhanghaozhongxinzhanghaoguanli:before {
  content: "\e6a0";
}

.icon-shanchu:before {
  content: "\e600";
}

